/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}



.content {
  color:#06365f;
  background-color: #06365f;
  position: relative;

}
#front {
  color:#06365f;
  background-color: white;
  height:400px;
  width:300px;
  position: absolute;
  overflow:hidden;

}

div#front {
    right: 12%;
    top: 68%;
}

.page {
     height: 600px;
}

.content {
    height: 314px;
}

div#front {
    padding-left: 35px;
    padding-right: 60px;
}

.content>img {
    position: absolute;
    top: 100px;
    right: 439px;
}

a img {
    float: left;
    display: inline-block;
    padding-left: 19px;
    padding-right: 15px;
}

img {}

a#apple {
    float: left;
}

a#google {
    /* float: right; */
}

p {
    /* width: 353px; */
}

div#front {
    /* overflow: hidden; */
}

a#apple {
    display: inline;
}

a#google {
    display: inline;
}

a#google {
    margin: 185px;
}
img#case {
    position: absolute;
    left: 10%;
}
footer {padding-top: 50px;
text-align: center;
padding-left: 150px;
padding-right: 300px}

li {float:left;
display:inline-block;
padding:20px;
}
h3 {float:right}
h4 {
    float: right;
    /* display: inline; */
    padding-left: 6px;
    padding-right: -5px;
}

div#home {
    border: 10px solid black;
}

div#home {
    color: white;
}

div#home {
    position: absolute;
    top: 27%;
    right: 21%;
}
div#home {padding-right: 22px;}

#home img {
    float: left;
    padding-top: 20px;
}
div#front {
    width: 517px;
}
